<p>nav works!</p>

<a routerLink="directive" class="btn btn-primary brn-sm">Directive</a>&nbsp;
<a routerLink="mypipe" class="tn btn-primary brn-sm">MySquareCusomPipePipe</a
>&nbsp; >
<a routerLink="app-parent-component" class="tn btn-primary brn-sm"
  >ParentComponentComponent</a
>&nbsp; >
<a routerLink="ang-form" class="tn btn-primary btn-sm">AngFormComponent</a
>&nbsp; >
<a routerLink="ang-form" class="tn btn-primary btn-sm">AngFormComponent</a
>&nbsp; >
<a routerLink="service-data" class="tn btn-primary btn-sm">ServiceData</a>&nbsp;
>
<a routerLink="productDash" class="tn btn-outline-warning btn-sm">CRUD</a>&nbsp;
>
