<p>nav works!</p>

<a routerLink="directive" class="btn btn-primary brn-sm">Directive</a>&nbsp;
<a routerLink="mypipe" class="btn btn-primary brn-sm">MySquareCusomPipePipe</a
>&nbsp;
<a routerLink="parent" class="btn btn-primary brn-sm"
  >ParentComponentComponent</a
>&nbsp;
<a routerLink="angform" class="btn btn-primary btn-sm">AngFormComponent</a
>&nbsp;
<a routerLink="service-data" class="btn btn-primary btn-sm">ServiceData</a
>&nbsp;
<a routerLink="productDash" class="btn btn-outline-warning btn-sm">CRUD</a
>&nbsp;
