
.txtprimary{
    color:blue;
    background-color: rgb(255, 0, 98);
    font-family: cursive;

}
.txtdanger{
    color: red;
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.special:hover{
    color: brown;
    background-color: lightcyan;
    font-size: 30px;

}

/* //here we have created 3 classes txtprimary, txtdanger and special and applied some css properties to them. which are mentioned within them. */
