img {
    display: block;
    width: 20%;
    height: 20%;
    border: 2px solid #fff;
    
}

button {
    background-color: #af8c4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: 2px solid #af8c4c;
    cursor: pointer;
    width: 10%;
}